
/*  H T M L  T A G S  */

body {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
}

header, .todos {
  text-align: center
}

h1, h2{
  font-family: "Georgia", serif;
}

h2 {
  padding-bottom: .5em;
  margin-bottom: .5em;
}

p {
  font-family: "Georgia", serif;
  font-size: 2em;
}

input {

  padding: 10px;
  background-color: transparent;
  border: 1px solid black;

}

button {

  padding: 10px 15px;
  margin-left: 20px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;

}

button:hover {

  padding: 10px 15px;
  margin-left: 20px;
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 20px;

}


/*  C L A S S E S  */

.todoTile {

  margin-bottom: 40px;
  padding: 10px 0px 40px 0px;
  background-color: #c0ffee;

}

.todosContainer {
  width: 60%;
  margin: auto;

 }

.incomplete h2{
  border-bottom: 3px solid red;
}


.todoForm {
  clear:both;
  text-align: center;
}

span.deleteButton, span.toggleButton {
  padding-left: 1em;
}

.deleteButton{
  color: red;
}

.createForm {
  padding-top: 3em;
  padding-bottom: 3em;
  margin: auto;
  width: 58%;
}

/*  I D S  */

/*  A N I M A T I O N S  */


